.idea
.gradle
**/build/
**/target/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
**/.gradletasknamecache

artifacts
.DS_Store

# Files to check data uploading, very big size, so ignored
upload_data/game_images2-001.zip
upload_data/result.pkl
upload_data/.ipynb_checkpoints/